[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/juice-contracts-v4"]
	path = lib/juice-contracts-v4
	url = https://github.com/Bananapus/juice-contracts-v4
[submodule "lib/juice-ownable"]
	path = lib/juice-ownable
	url = https://github.com/Bananapus/juice-ownable
[submodule "lib/juice-address-registry"]
	path = lib/juice-address-registry
	url = https://github.com/Bananapus/juice-address-registry
